{:company/legal-name "ＮＴＴ株式会社"
 :company/lei "353800VHQU5VIXVUA841"
 :company/jurisdiction "JP"
 :company/website "https://group.ntt"
 :company/ticker "9432 (TSE Prime)"
 :company/inquiry-form-url "https://group.ntt/en/contact/"}
