[["ntt-tos-1" :tos/full-text "NTT Group Social Media Policy | Privacy Policy | NTT 
 Microsoft ends support for Internet Explorer on June 16, 2022. We recommend using one of the browsers listed below. 
 Microsoft Edge（Latest version）  
 Mozilla Firefox（Latest version）  
 Google Chrome（Latest version）  
 Apple Safari（Latest version）  
 Please contact your browser provider for download and installation instructions.
 Contact 
 JAPANESE 
 ENGLISH 
 About NTT 
 Back to Menu Top 
 About NTT Top 
 About NTT Top 
 Group Companies
 Business 
 NTT Group's Core & Values 
 History 
 At a glance 
 Brand 
 Projects 
 IOWN 
 AI 
 Group Companies Top 
 Alphabetical Index 
 Affiliated Companies Index 
 Business Top 
 Integrated ICT Business
 Global Solutions Business
 Regional Communications Business
 Others (Real Estate, Energy and Others)
 close 
 Newsroom 
 Back to Menu Top 
 Newsroom Top 
 Newsroom Top
 Press Release 
 Topics 
 Notice 
 close 
 Investor Relations 
 Back to Menu Top 
 Investor Relations Top 
 Investor Relations Top
 Management Policy 
 Financial Data 
 Stock Information 
 IR Library 
 IR News 
 IR Calendar 
 FAQ 
 Contact IR 
 Management Policy Top 
 Message from the CEO 
 Medium-Term Management Strategy 
 Profiles 
 Business Operation Plans 
 Corporate Governance 
 Financial Data Top 
 Financial Highlights 
 Forecast Summary 
 Information by Segment 
 Number of Subscribers 
 Stock Information Top 
 About NTT Stock 
 Shareholder Return 
 IR Calendar 
 Shareholders' Meetings 
 History 
 Offering of Government-owned Shares 
 Stock Price Information 
 ADR Information 
 Analyst Coverage 
 Regulations 
 Disclosure Policy 
 Bonds & Ratings Information 
 IR Library Top 
 Latest IR Information 
 IR Events · Presentations 
 IR Presentations 
 Financial Results 
 Securities Report 
 Timely Disclosure 
 Integrated Report/Annual Report 
 close 
 R&D 
 Back to Menu Top 
 R&D Top 
 R&D Top
 News 
 Interview 
 About NTT R&D 
 Organizational Structure of NTT R&D 
 Location 
 Contact R&D 
 close 
 Disaster Countermeasures 
 Back to Menu Top 
 Disaster Countermeasures Top 
 Disaster Countermeasures Top
 Disaster Message Services 
 NTT Group Disaster Countermeasures 
 Report 
 Operation Plan 
 Request from NTT 
 Disaster Message Services Top 
 171 Disaster Emergency Message Dial 
 Checking Safety Status during Disasters 
 Web171 Disaster Message Board 
 NTT Group Disaster Countermeasures Top 
 Securing Critical Communications 
 Prompt Restoration of Communications Services 
 Improving Network Reliability 
 Report Top 
 Field Report 
 Disaster Drills 
 close 
 Sustainability 
 Back to Menu Top 
 Sustainability Top 
 Sustainability Top
 Message from Management 
 Sustainability Management 
 Materiality 
 NTT's Sustainability Efforts 
 Environment 
 Society 
 Governance 
 ESG Data Library 
 External Evaluations and Initiatives 
 D&I at NTT 
 Procurement at NTT 
 Comment/inquiry 
 NTT Group Basic Policy on Harassment by Customers 
 Sustainability Management Top 
 NTT Group's Global Sustainability Charter 
 Organization for Implementation 
 Stakeholder Engagement 
 Environment Top 
 Approach to Integrating TCFD and TNFD 
 Environmental Management 
 Decarbonization 
 Recycling and Reducing Environmental Impact 
 Biodiversity 
 Society Top 
 Human Resources Strategy 
 Autonomous Career Formation 
 Diverse Work Styles 
 Diversity & Inclusion 
 Occupational Safety and Health Management 
 Respect for human rights 
 Supply Chain Management 
 Providing Technology and Services 
 Strengthening Information Security and Protection of Personal Information 
 Governance Top 
 Corporate Governance 
 Corporate Ethics and Compliance 
 Risk Management 
 Tax Policy 
 Intellectual Property 
 AI Governance 
 ESG Data Library Top 
 Integrated Report 
 Financial and Non-Financial Data 
 Comparative Guidelines Table 
 Independent Assurance Statement 
 ESG Disclosure Policy 
 Past NTT Group Sustainability Reports 
 NTT's Sustainability Efforts Top 
 Sustainability Stories 
 Highlighted Actions 
 Sustainability Conference Archive 
 close 
 Corporate 
 Back to Menu Top 
 Corporate Top 
 Corporate Top
 CEO Message 
 CEO Press Conference 
 Corporate Data 
 Organization Chart 
 Profiles 
 Access 
 Basic Policy on the Design of Internal Control Systems 
 Compliance 
 close 
 Careers 
 Back to Menu Top 
 Careers Information Top 
 Careers Information Top
 NTT Group Careers Information 
 NTT R&D Careers Information 
 close 
 NTT STORY 
 Back to Menu Top 
 NTT STORY Top 
 NTT STORY Top
 NTT STORY List 
 NTT ATHLETE 
 close 
 Contact 
 JAPANESE 
 Search by keyword 
 TOP 
 Privacy Policy 
 NTT Group Social Media Policy 
 NTT Group Social Media Policy 
 The following policy (hereinafter referred as \"the Policy\") has been determined for official social media accounts operated by the NTT Group. You are requested to read the Policy and consent to them regarding the use of social media. 
 Operation 
 Operators: 
 NTT, Inc. (hereinafter referred to as \"NTT\") and its affiliated companies 
 NTT official account URL for each social media (hereinafter referred to as \"these Web pages\"): 
X (formerly Twitter)
Facebook
YouTube
Instagram
LinkedIn
 Podcast（Spotify / Google Podcasts/ Apple Podcasts）：account \"NTT official\" 
 Operation Policy 
 NTT provides an outline of the corporate activities of NTT Group companies and various information using images, voice messages and videos. 
 In principle NTT will not reply to comments posted on these Web pages. 
 Any comments that are deemed inappropriate may be deleted. 
 In view of the nature of social media, the accuracy of all information transmitted on social media cannot be confirmed. Corrections may be made at a later date. 
 Operation Period 
 Operation of these Web pages may be terminated or these Web pages may be deleted without prior notice. 
 Access to Basic Information 
 Registration with official social media accounts by users (persons accessing these Web pages) is viewed as agreement with the Policy and as consent to access from NTT official accounts to information provided by users (user name, profile photograph, gender, networks, user ID, list of friends, etc., publicly disclosed accounts and profile information). Since users of social media not registered with NTT official accounts can in principle view these Web pages, it is assumed that these users will observe and consent to the matters stipulated in the Policy. 
 Exemption from Responsibility 
 * 
NTT does not guarantee the accuracy or completeness of the information on these Web pages.
 * 
NTT bears no responsibility whatsoever for contents (comments, photographs, voice messages, video images, etc.) posted by users.
 * 
NTT bears no responsibility whatsoever for any damage incurred through users' use of, or inability to use, these Web pages.
 * 
NTT bears no responsibility whatsoever for any trouble arising between users, or any trouble arising between users and third parties, relating to these Web pages.
 * 
Copyright, etc. relating to posting belongs to the user posting the content concerned. However, posting of contents by a user is viewed as consent from the user to NTT to use (including process, extract, reproduce, publish, translate, etc.) the posted contents free of charge and non-exclusively anywhere in the world, and as agreement not to exercise copyright, etc. against NTT.
 * 
NTT bears no responsibility whatsoever in the event of any account under the same name other than the official account.
 * 
NTT may not bear responsibility even if a statement is made in an official account through identity theft.
 Handling of Personal Information 
 NTT handles all personal information obtained from users in accordance with its Privacy Policy 
 Inquiries 
 If you have any inquiries or comments regarding NTT or these Web pages, please send them using the Contact page on NTT's official website. 
 Rev.19/Nov/2021 
 NTT STORY 
 WEB media that thinks about the future with NTT 
 July 7, 2026 
 The Weather Over The Ocean 
 Technology 
 June 30, 2026 
 Networks That Tell You What's Wrong 
 Technology 
 June 22, 2026 
 Remote Operation in the Real World 
 Technology 
 NTT Group’s Core & Values 
 NTT R&D Website 
 NTT Japan Rugby League One 
 IOWN 
 -->
 -->
 -->
 -->
 -->
 -->
 -->
 -->
 -->
 Group Companies 
 TOP 
 Privacy Policy 
 NTT Group Social Media Policy 
 About NTT 
 Group Companies 
 Business 
 NTT Group's Core & Values 
 History 
 At a glance 
 Brand 
 Projects 
 IOWN 
 AI 
 News 
 Global Business 
 Investor Relations 
 IR News 
 Message from the CEO 
 Management Policy 
 Financial Data 
 Stock Information 
 IR Library 
 Disclaimer 
 FAQ 
 IR Mail News 
 Contact IR 
 R&D 
 News 
 Interview 
 About NTT R&D 
 Organizational Structure of NTT R&D 
 Location 
 Contact R&D 
 Disaster Countermeasures 
 News 
 171 Disaster Emergency Message Dial 
 Checking Safety Status during Disasters 
 Web171 Disaster Message Board 
 NTT Group Disaster Countermeasures 
 Operation Plan 
 Request from NTT 
 Sustainability 
 Message from Management 
 Sustainability Management 
 Materiality 
 NTT's Sustainability Efforts 
 Environment 
 Society 
 Governance 
 ESG Data Library 
 External Evaluations and Initiatives 
 D&I at NTT 
 Procurement at NTT 
 Comment/inquiry 
 NTT Group Basic Policy on Harassment by Customers 
 Corporate 
 CEO Message 
 CEO Press Conference 
 Corporate Data 
 Organization Chart 
 Profiles 
 Access 
 Basic Policy on the Design of Internal Control Systems 
 Compliance 
 Careers Information 
 NTT STORY 
 Contact 
 About NTT 
 News 
 Investor Relations 
 R&D 
 Disaster Countermeasures 
 Sustainability 
 Corporate 
 Careers Information 
 NTT STORY 
 Contact 
 Global Business 
 NTT Group Social Media Policy 
 Privacy Policy 
 NTT Group Information Security Policy 
 Protection of Personal Information 
 Copyright(c) 
 Sitemap 
 © NTT, Inc." 1 :add]
 ["ntt-tos-1" :tos/source-url "https://group.ntt/en/privacy/social.html" 1 :add]
 ["ntt-tos-1" :tos/retrieved-at "2026-07-19T08:10:32Z" 1 :add]
 ["ntt-tos-1" :tos/sha256 "6a046fb582b077fcb27334df37aeeb8c0f1710b208fd3a6621c930cc1c8ce8c7" 1 :add]
 ["ntt-tos-1" :tos/doc-type :privacy-policy 1 :add]]
